@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


 .alink{
    display: block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-family: 'Poppins';
    word-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .alink span{
    position: relative;
    z-index: 10;
  }
  
  .alink:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF0000;
    transition: all .35s;
  }
  
  .alink:hover{
    color: #ffffff;
  }
  
  .alink:hover:after{
    width: 100%;
  }