@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo{
    font-family: 'Poppins';
    font-size: 26px;
    color: #505050;
    font-weight: 700;
    text-decoration: none;   
}

.logo-food{
    color: #FF0000;
}

.logo-pos{
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 480px){
    .logo{ 
        font-size: 18px;
          
    }
    
    
    .logo-pos{
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1;
    }
}